@import 'padroes';

header{
    @extend %paddingHeaderFooter;
    &.pcoded{
        background:$cor-6 !important;
    }   
}

//Seções
section.padrao{
    @extend %paddingPadrao;
    background: $branco;

    //formatação
    &.captar{
        h1{
            color:$cor-2;
        }

        form{
           padding: 20px;
           fieldset{
            border: 1px solid $cor-4;
            legend{
                text-align: center;
                margin-top: 20px;
            }
           }
        }
    }
}



footer{
    ul.socialmedia{
        float: right;
        li{
            float: left;
            list-style: none;  
            padding:0 3px;    
            a{
                padding: 4px 6px;;
                background: $cor-4;
                color: $cor-2;
                &:hover{
                    color: $cor-5;
                }
            }
        }
    }
}


